@font-face{
    font-family: 'MiSans';
    src: url("../fonts/MiSansLatinVF.ttf");
}

@font-face{
    font-family: 'CowboyMovie';
    src: url("../fonts/CowboyMovie.ttf");
}

:root{
    --primaryColor: rgb(249, 237, 199);
    --secondaryColor: rgb(94, 48, 18);
    --complementaryColor: rgb(3, 32, 59);
}

*{
    box-sizing: border-box;
    transition-duration: 500ms;
}

html, body{
    width: 100%;
    height: 100%;

    font-size: 16px;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../images/woodenPlates.png');
    background-size: cover;
}

p{
    margin: 0;
    padding: 0;
    text-align: center;
}

.backgroundLightUp{
    position: fixed;
    top: -10%;
}

.backgroundLightDown{
    position: fixed;
    bottom: -10%;
}

.main{
    width: 85%;
    height: 90%;
    padding: 0 1rem;

    border: 0.5rem solid var(--secondaryColor);
    background-image: url('../images/paper.jpg');
    background-size: cover;

    font-size: 1.8rem;
    font-family: 'MiSans';
    font-weight: bold;
    color: var(--complementaryColor);
    border-radius: 80px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;

    transform: rotate(-2deg);
}

.mainBoots{
    width: 5rem;
}

.mainTitle{
    width: 100%;
    
    font-size: 7.5rem;
    font-family: 'CowboyMovie';
    font-weight: normal;
    color: var(--secondaryColor);
    border-bottom: 0.25rem solid var(--secondaryColor);

    margin-top: 1rem;

    text-shadow: 0.20rem 0.15rem 0.1rem rgba(0, 0, 0, 40%);
}

.mainAge{
    font-size: 2.8rem;
}

.mainConfirmation{
    width: 100%;
    font-size: 1.2rem;
    border-radius: 32px;
    padding: 0.4rem 0.5rem;

    background-color: var(--secondaryColor);

    text-align: center;
    text-decoration-line: none;
    color: var(--primaryColor);

    animation: shakeButton 3s linear infinite;
}

.mainDate{
    width: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
}

.mainDateDay{
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "CowboyMovie";

    border-right: 0.2rem solid var(--secondaryColor);
}

.mainDateDayDay{
    font-size: 5rem;
}

.mainDateHour{
    width: 70%;

    font-size: 1rem;
    color: var(--secondaryColor);

    margin-left: 1rem;
}

@keyframes shakeButton {
    0% {margin-top: 0}
    50% {margin-top: 1rem}
    100% {margin-top: 0}
}